html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background: rgb(51,179,204);
    background: linear-gradient(0deg, rgba(51,179,204,1) 0%, rgba(51,102,204,1) 35%, rgba(36,71,143,1) 100%);
    min-height: 100vh;
    color: white;
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 150px;
    border-radius: 50%;
}

h1 {
    font-weight: normal;
}

a {
    display: block;
    max-width: 400px;
    font-size: 14px;
    color: #ffffff;
    border: 2px solid #ffffff;
    margin: 0 auto 15px; 
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 25px;

}

a:hover {
    background-color: #2851a3;
}

h2 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
}

.channels {
    display: flex;
    max-width: 400px;
    margin: 0 auto;
}

.channels a {
    flex: 1;
    padding: 5px 10px;
    margin-right: 5px;
}

.featured {
    background-color: white;
    color: #3366cc;
    font-weight: bold;
}

.featured:hover {
    background-color: #2851a3;
    color: #ffffff;
    ;
}

